# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Licensed data not permitting redistribution
/data/raw/big_cities_demographic_indicators-2026-06-15.tsv